@import "tailwindcss";

@theme {
      --accent:#1A7A6E;
      --accent-mid:#2A9D8F;
      --accent-light:#5BBFB5;
      --text-1:#0D1E1C;
      --text-2:#3A5C58;
      --text-3:#6B8C88;
      --border:rgba(13,30,28,0.08);
      --font-Family:"DM Sans", sans-serif;
      --font-Family:"Playfair Display", serif;
}
:root{
  --text-2xl:20rem
}